.aboutMe  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
      
}  

h1 {
    margin-top: 30px;
}

.aboutMe_body {
    display: flex;
    flex-direction: row;
}


.aboutMe_text {
    margin: 22px 40px 0px 30px; 
    flex: 1;
    position: relative;
    flex-direction: row;
    font-size: 18px;

}


.tech {
    margin-right: 15px;   
}

.aboutMe_text p  {
    margin-top: 20px;
    line-height: 30px;
    font-size: 1.2rem;
}



.aboutMe_skills {
    margin : 8px 10px 0px 40px;
    position: relative;
    flex: 1;  

}

.aboutMe_skills h3 {
    font-size: 15px;

}

.skill_symbol {
    font-size: 18px;
    margin-left: 50px;
    margin-top: 20px;

}

.aboutMe_skills ul {
    position : relative;
    margin-top: 15px;

}

.aboutMe_skills ul li {
    position: relative;
    list-style: none;
    display: table;
    margin-top: 5px;
    padding-left: 20px;
    padding-right: 10px;

}

.aboutMe_skills ul li::before {
    content: '';
    position: absolute;
    top: 3px;
    left: 0;
    width: 25px;
    height: 25px;
    background: transparent;
    border-radius: 34px;
    transition: background 0.5s, width 0.5s;
    transition-delay: 0.1s, 0s;
    border: 2px solid #03a9f4;
    box-sizing: border-box;

}

.aboutMe_skills ul li:hover::before {
    width: 100%;
    background: #03a9f4;
    transition-delay: 0.1s, 0.3s;

}

.aboutMe_skills ul li::after {
    content: '';
    position: absolute;
    top: 11px;
    left: 7px;
    width: 8px;
    height: 8px;
    border-top: 2px solid #000;
    border-right: 2px solid #000;
    transform: rotate(45deg);
    transition: 1s;
    transition-delay: 0s;

}

.aboutMe_skills ul li:hover::after {
    left: 8px;
    transition-delay: 0.5s;
    transform: rotate(45deg) scale(1.8);

}

.aboutMe_skills ul li p {
    position: relative;
    z-index: 10;
    padding: 5px 10px;
    color:rgb(99, 39, 39);
    font-size: 13px;
    font-weight: 500;

}

@media screen and (max-width: 600px) {
    .aboutMe h1 {
        font-size: 30px;
    }
}












